_____________________
# STATISTICS FOR CS
## Section - A
### 5th Semester
#### CASE STUDY
____________________

_____________________________
# MENTAL HEALTH IN TECH
_______________________________
## GROUP MEMBERS
- **CHATURTH R** [21BCS025]
- **KAKARAPU MOURYA** [21BCS049]
- **KARTHIK AVINASH** [21BCS052]

_______________

In [4]:
def get_Z_TAB(side,significance_level):
    # Define the Z-table values
    z_table = {
        0.01: {2: 2.576, 1: 2.326},
        0.05: {2: 1.960, 1: 1.645},
        0.10: {2: 1.645, 1: 1.282}
    }

    # Check if the significance level is in the table
    if significance_level in z_table:
        # Check if the side is valid
        if side in [2, 1]:
            return z_table[significance_level][side]
        else:
            raise ValueError("Invalid side. Use 2 or 1.")
    else:
        raise ValueError("Invalid significance level. Use 0.01, 0.05, or 0.10.")

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

_______
# Large One-Sample Z-Test for Population Mean


**Hypothesis Statements:**
* **Null Hypothesis (H0)**: The null hypothesis is a statement that there is no significant difference in likelihood based on company size. Specifically, it states that the population mean of "no_employees_numerical" (company size) is equal to the hypothesized mean "mu_hypothesis," which is 30.

* **Alternative Hypothesis (Ha)**: The alternative hypothesis is the statement that contradicts the null hypothesis. In this case, it states that a significant difference exists in likelihood based on company size. It suggests that the population mean of "no_employees_numerical" is not equal to the hypothesized mean "mu_hypothesis," which is 30.

In [22]:
import pandas as pd
from scipy import stats

df = pd.read_csv('data.csv')

# Choose the column for the sample (let's use 'Age')
column_of_interest = 'Age'

# Specify the company's claim (null hypothesis)
claim_mean = 35

# Sample 50 employees randomly
sample_size = 100
sample_data = df[column_of_interest].sample(n=sample_size, random_state=42)  # You can change the random_state for different samples

# Given information
sample_mean = sample_data.mean()
sample_std = sample_data.std()

# Significance level
tail = 2
alpha = 0.05

# Perform one-sample Z-test
z_cal = (sample_mean - claim_mean) / (sample_std / ((sample_size-1) ** 0.5))

# Get the critical Z-score from the standard normal distribution for the given alpha
z_tab = get_Z_TAB(side=tail,significance_level = alpha)

# Formulate hypotheses
null_hypothesis = f"The average age of employees in the tech industry is {claim_mean} years."
alternative_hypothesis = f"The average age of employees in the tech industry is less than or greater than {claim_mean} years."

# print(f"Column of interest: {column_of_interest}")
print(f"Sample Mean: {sample_mean}")
print(f"Claimed Mean: {claim_mean}")

print("\nStep 1: Hypothesis statements: ")
print(f"H0: {null_hypothesis}")
print(f"H1: {alternative_hypothesis}")

# Print the results
print("\nStep 2: Z_CAL calculation: ")
print(f"Z-cal: {abs(z_cal)}")

print("\nStep 3: Z_TAB value: ")
print(f"Z-tab: ({alpha} significance level,{tail} tailed test ): {z_tab}")

print("\nStep 4: Decision Making")
# Check the significance of the result
if abs(z_cal) > z_tab:
    print(f"Z_cal > Z_tab. So, Reject the null hypothesis. \n\nStep 5: Summary:\nThere is enough evidence to reject the null hypothesis. The average age of tech employees in the tech company is not {claim_mean} years.")
else:
    print(f"Z_cal < Z_tab. So, Fail to reject the null hypothesis.\n\nStep 5: Summary:\n There is no enough evidence to reject the null hypothesis. The average age of tech employees in the tech company is {claim_mean} years.")
    
print(f"\nStep 6: Confidence Interval: alpha = {alpha}")

print(f"Lower Bound: {sample_mean - (z_tab*(sample_std / ((sample_size-1) ** 0.5)))}")
print(f"Upper Bound: {sample_mean + (z_tab*(sample_std / ((sample_size-1) ** 0.5)))}")

Sample Mean: 32.47
Claimed Mean: 35

Step 1: Hypothesis statements:
H0: The average age of employees in the tech industry is 35 years.
H1: The average age of employees in the tech industry is less than or greater than 35 years.

Step 2: Z_CAL calculation:
Z-cal: 3.1594114249316783

Step 3: Z_TAB value:
Z-tab: (0.05 significance level,2 tailed test ): 1.96

Step 4: Decision Making
Z_cal > Z_tab. So, Reject the null hypothesis.

Step 5: Summary:
There is enough evidence to reject the null hypothesis. The average age of tech employees in the tech company is not 35 years.

Step 6: Confidence Interval: alpha = 0.05
Lower Bound: 30.900467155727515
Upper Bound: 34.039532844272486

# Large Two - Sample Z-Test for Population Mean

**Hypothesis Statements:**

* **Null Hypothesis (H0)**: There is no significant difference in the mean age between individuals who received mental health treatment ("Yes" in the "treatment" column) and individuals who did not receive treatment ("No" in the "treatment" column) in the population.

* **Alternative Hypothesis (Ha)**: There is a significant difference in the mean age between individuals who received mental health treatment and individuals who did not receive treatment in the population.

In [25]:
import pandas as pd
import numpy as np
from scipy import stats

df = pd.read_csv('data.csv')

H0 = "There is no significant difference in the mean age between individuals who received mental health treatment and individuals who did not receive treatment."
H1 = "There is significant difference in the mean age between individuals who received mental health treatment and individuals who did not receive treatment."

sample_size_1 = 60
sample_size_2 = 70

# Separate the samples based on the treatment variable
sample1 = df[df['treatment'] == 'Yes']['Age'].sample(n=sample_size_1, random_state=42)
sample2 = df[df['treatment'] == 'No']['Age'].sample(n=sample_size_2, random_state=42)

sp = df["Age"].std()

# Set the significance level (alpha) for the hypothesis test
alpha = 0.05
tail = 2
Z_TAB = get_Z_TAB(side=tail,significance_level=alpha)

# Calculate sample statistics
n1 = len(sample1)  
n2 = len(sample2)  
print(f"n1: {n1}, n2: {n2}")

x1_bar = sample1.mean()  
x2_bar = sample2.mean()  
num = abs(x2_bar - x1_bar)
den = sp * (((1/n1) + (1/n2))**0.5)

Z_CAL = num/den


lb = num - Z_TAB * den
ub = num + Z_TAB * den


print("\nStep 1: Hypothesis statements: ")
print(f"H0: {H0}")
print(f"H1: {H1}")

print("\nStep 2: Z_CAL calculation: ")
print(f"Z-cal: {abs(Z_CAL)}")

print("\nStep 3: Z_TAB value: ")
print(f"Z-tab: ({alpha} significance level,{tail} tailed test ): {Z_TAB}")

# print(f"ub: {ub}, lb: {lb}")

print("\nStep 4: Decision Making")
# Perform the hypothesis test and print the result
if Z_CAL > Z_TAB:
    print("Reject the null hypothesis (H0). \n\nStep 5:Conclusion\nThere is a significant difference between the two samples.")
else:
    print("Fail to reject the null hypothesis (H0).\n\nStep 5:Conclusion\n  There is no significant difference between the two samples.")

# Print additional information including the z-score, critical z-value, and confidence interval
print(f"Confidence Interval: ({lb}, {ub})")

Step 1: Hypothesis statements:
H0: There is no significant difference in the mean age between individuals who received mental health treatment and individuals who did not receive treatment.
H1: There is significant difference in the mean age between individuals who received mental health treatment and individuals who did not receive treatment.
n1: 60, n2: 70

Step 2: Z_CAL calculation:
Z-cal: 0.36719698648416305

Step 3: Z_TAB value:
Z-tab: (0.05 significance level,2 tailed test ): 1.96

Step 4: Decision Making
Fail to reject the null hypothesis (H0).

Step 5:Conclusion
  There is no significant difference between the two samples.
Confidence Interval: (-2.0346040098389833, 2.9726992479342127)

___

In [5]:

def get_t_tab(df, alpha, tails):
    # Define the t-table values
    t_table_1_tail = {
        1: {0.1: 3.0777, 0.05: 6.3138, 0.01: 31.8205},
        2: {0.1: 1.8856, 0.05: 2.9200, 0.01: 6.9646},
        3: {0.1: 1.6377, 0.05: 2.3534, 0.01: 4.5407},
        4: {0.1: 1.5332, 0.05: 2.1318, 0.01: 3.7469},
        5: {0.1: 1.4759, 0.05: 2.0150, 0.01: 3.3649},
        6: {0.1: 1.4398, 0.05: 1.9432, 0.01: 3.1427},
        7: {0.1: 1.4149, 0.05: 1.8946, 0.01: 2.9980},
        8: {0.1: 1.3968, 0.05: 1.8595, 0.01: 2.8965},
        9: {0.1: 1.3830, 0.05: 1.8331, 0.01: 2.8214},
        10: {0.1: 1.3722, 0.05: 1.8125, 0.01: 2.7638},
        11: {0.1: 1.3634, 0.05: 1.7959, 0.01: 2.7181},
        12: {0.1: 1.3562, 0.05: 1.7823, 0.01: 2.6810},
        13: {0.1: 1.3502, 0.05: 1.7709, 0.01: 2.6503},
        14: {0.1: 1.3450, 0.05: 1.7613, 0.01: 2.6245},
        15: {0.1: 1.3406, 0.05: 1.7531, 0.01: 2.6025},
        16: {0.1: 1.3368, 0.05: 1.7459, 0.01: 2.5835},
        17: {0.1: 1.3334, 0.05: 1.7396, 0.01: 2.5669},
        18: {0.1: 1.3304, 0.05: 1.7341, 0.01: 2.5524},
        19: {0.1: 1.3277, 0.05: 1.7291, 0.01: 2.5395},
        20: {0.1: 1.3253, 0.05: 1.7247, 0.01: 2.5280},
        21: {0.1: 1.3232, 0.05: 1.7207, 0.01: 2.5176},
        22: {0.1: 1.3212, 0.05: 1.7171, 0.01: 2.5083},
        23: {0.1: 1.3195, 0.05: 1.7139, 0.01: 2.4999},
        24: {0.1: 1.3178, 0.05: 1.7109, 0.01: 2.4922},
        25: {0.1: 1.3163, 0.05: 1.7081, 0.01: 2.4851},
        26: {0.1: 1.3150, 0.05: 1.7056, 0.01: 2.4786},
        27: {0.1: 1.3137, 0.05: 1.7033, 0.01: 2.4727},
        28: {0.1: 1.3125, 0.05: 1.7011, 0.01: 2.4671},
        29: {0.1: 1.3114, 0.05: 1.6991, 0.01: 2.4620},
        30: {0.1: 1.3104, 0.05: 1.6973, 0.01: 2.4573},
    }

    t_table_2_tail = {
        1: {0.1: 6.3138, 0.05: 12.7062, 0.01: 63.6567},
        2: {0.1: 2.9200, 0.05: 4.3027, 0.01: 9.9248},
        3: {0.1: 2.3534, 0.05: 3.1824, 0.01: 5.8409},
        4: {0.1: 2.1318, 0.05: 2.7764, 0.01: 4.6041},
        5: {0.1: 2.0150, 0.05: 2.5706, 0.01: 4.0321},
        6: {0.1: 1.9432, 0.05: 2.4469, 0.01: 3.7074},
        7: {0.1: 1.8946, 0.05: 2.3646, 0.01: 3.4995},
        8: {0.1: 1.8595, 0.05: 2.3060, 0.01: 3.3554},
        9: {0.1: 1.8331, 0.05: 2.2622, 0.01: 3.2498},
        10: {0.1: 1.8125, 0.05: 2.2281, 0.01: 3.1693},
        11: {0.1: 1.7959, 0.05: 2.2010, 0.01: 3.1058},
        12: {0.1: 1.7823, 0.05: 2.1788, 0.01: 3.0545},
        13: {0.1: 1.7709, 0.05: 2.1604, 0.01: 3.0123},
        14: {0.1: 1.7613, 0.05: 2.1448, 0.01: 2.9768},
        15: {0.1: 1.7531, 0.05: 2.1314, 0.01: 2.9467},
        16: {0.1: 1.7459, 0.05: 2.1199, 0.01: 2.9208},
        17: {0.1: 1.7396, 0.05: 2.1098, 0.01: 2.8982},
        18: {0.1: 1.7341, 0.05: 2.1009, 0.01: 2.8784},
        19: {0.1: 1.7291, 0.05: 2.0930, 0.01: 2.8609},
        20: {0.1: 1.7247, 0.05: 2.0860, 0.01: 2.8453},
        21: {0.1: 1.7207, 0.05: 2.0796, 0.01: 2.8314},
        22: {0.1: 1.7171, 0.05: 2.0739, 0.01: 2.8188},
        23: {0.1: 1.7139, 0.05: 2.0687, 0.01: 2.8073},
        24: {0.1: 1.7109, 0.05: 2.0639, 0.01: 2.7969},
        25: {0.1: 1.7081, 0.05: 2.0595, 0.01: 2.7874},
        26: {0.1: 1.7056, 0.05: 2.0555, 0.01: 2.7787},
        27: {0.1: 1.7033, 0.05: 2.0518, 0.01: 2.7707},
        28: {0.1: 1.7011, 0.05: 2.0484, 0.01: 2.7633},
        29: {0.1: 1.6991, 0.05: 2.0452, 0.01: 2.7564},
        30: {0.1: 1.6973, 0.05: 2.0423, 0.01: 2.7500},
    }

    # Select the appropriate table based on the tails parameter
    t_table = t_table_1_tail if tails == 1 else t_table_2_tail

    # Check if the degrees of freedom (df) is in the table
    if df in t_table:
        # Check if the alpha is in the table
        if alpha in t_table[df]:
            return t_table[df][alpha]
        else:
            raise ValueError(f"Invalid alpha value. Choose from {list(t_table[df].keys())}.")
    else:
        raise ValueError(f"Invalid degrees of freedom (df). Use a valid value available in the table.")

# Small One-Sample t-Test for Population Mean

**Hypothesis Statements:**
* **Null Hypothesis (H0):**  The sample mean age is equal to the hypothesized population mean age.

* **Alternative Hypothesis (Ha):** The sample mean age is not equal to the hypothesized population mean age.

In [33]:
import pandas as pd
import numpy as np
from scipy import stats

df = pd.read_csv('data.csv')

H0 = "The sample mean age is equal to the hypothesized population mean age."
H1 = "The sample mean age is not equal to the hypothesized population mean age."

sample_size = 20
alpha = 0.05
mu_hypothesis = 30
tail = 2
# Extract the 'Age' column as the sample
sample = df['Age'].sample(n=sample_size, random_state=42)

# Get the sample size
n = len(sample)
degrees_of_freedom = n - 1

# Calculate the sample mean
sample_mean = sample.mean()

# Calculate the t-statistic for the hypothesis test
sample_std = sample.std()

num = abs(sample_mean - mu_hypothesis)
den =(sample_std / np.sqrt(n-1))

t_cal = num/den

# Find the critical t-value for a two-tailed test
t_tab = get_t_tab(alpha=alpha,df=degrees_of_freedom, tails=tail)
print("t_tab: ",t_tab)
# Calculate the margin of error and confidence interval
margin_of_error = t_tab * den
lb = sample_mean - margin_of_error
ub = sample_mean + margin_of_error

print("\nStep 1: Hypothesis statements: ")
print(f"H0: {H0}")
print(f"H1: {H1}")

print("\nStep 2: t_CAL calculation: ")
print(f"t-cal: {abs(t_cal)}")

print("\nStep 3: t_TAB value: ")
print(f"t-tab: ({alpha} significance level,{tail} tailed test, {degrees_of_freedom} degrees of freedom ): {t_tab}")

# Perform the hypothesis test and print the result
print("\nStep 4: Decision Making")
if abs(t_cal) > t_tab:
    print("Reject the null hypothesis (H0).\n\nStep 5: Conclusion:\n The sample mean is significantly different from the hypothesized population mean.")
else:
    print("Fail to reject the null hypothesis (H0).\n\nStep 5: Conclusion:\n There is no significant difference between the sample mean and the hypothesized population mean.")
    
print(f"Confidence Interval: ({lb}, {ub})")

t_tab:  2.093

Step 1: Hypothesis statements:
H0: The sample mean age is equal to the hypothesized population mean age.
H1: The sample mean age is not equal to the hypothesized population mean age.

Step 2: t_CAL calculation:
t-cal: 1.0933570625003166

Step 3: t_TAB value:
t-tab: (0.05 significance level,2 tailed test, 19 degrees of freedom ): 2.093

Step 4: Decision Making
Fail to reject the null hypothesis (H0).

Step 5: Conclusion:
 There is no significant difference between the sample mean and the hypothesized population mean.
Confidence Interval: (27.48570876577355, 38.01429123422645)

# Small Two-Sample t-Test for Population Mean

**Hypothesis Statements:**
* **Null Hypothesis (H0):** There is no significant difference in the average age between the two random samples.
* **Alternative Hypothesis (Ha):** There is a significant difference in the average age between the two random samples.

In [42]:
from scipy import stats
import pandas as pd

df = pd.read_csv('data.csv')

# Set the sample sizes for groups A and B
sample_size_A = 8
sample_size_B = 9
tail = 2

# Randomly sample from the 'Age' column to create two independent samples
sample_A = df[df['treatment'] == 'Yes']['Age'].sample(n=sample_size_A, random_state=42)
sample_B = df[df['treatment'] == 'No']['Age'].sample(n=sample_size_B, random_state=42)

# Set the significance level (alpha) for the hypothesis test
alpha = 0.05

# Perform an independent two-sample t-test
degrees_of_freedom = sample_size_A + sample_size_B - 2

t_tab = get_t_tab(alpha=alpha, df=degrees_of_freedom, tails=tail)

# Define the null and alternative hypotheses
H0 = "There is no significant difference in the average age between the two groups."
H1 = "There is a significant difference in the average age between the two groups."

# Calculate the mean difference, variances, sample sizes, standard error, and margin of error
mean_diff = sample_A.mean() - sample_B.mean()
num = mean_diff

s1 = sample_A.std()
s2 = sample_B.std()
sp2 = ((sample_size_A - 1) * s1*s1 + (sample_size_B - 1) * s2*s2) / (sample_size_A + sample_size_B - 2)
den = (sp2*((1/(sample_size_A-1)) + (1/(sample_size_A-1))))**0.5

t_cal = abs(num)/den

lb = num - t_tab*den
ub = num + t_tab*den

print("\nStep 1: Hypothesis statements: ")
print(f"H0: {H0}")
print(f"H1: {H1}")

print("\nStep 2: t_CAL calculation: ")
print(f"t-cal: {abs(t_cal)}")

print("\nStep 3: t_TAB value: ")
print(f"t-tab: ({alpha} significance level,{tail} tailed test, {degrees_of_freedom} degrees of freedom ): {t_tab}")

# Perform the hypothesis test and print the result
print("\nStep 4: Decision Making")
if t_cal > t_tab:
    print("Reject the null hypothesis (H0).\n\nStep 5: Conclusion:\n There is significant difference in the average age between the two random samples.")
else:
    print("Fail to reject the null hypothesis (H0).\n\nStep 5: Conclusion:\n There is no significant difference in the average age between the two random samples.")

print("\nStep 6: ")
print(f"Confidence Interval: ({lb}, {ub})")

Step 1: Hypothesis statements:
H0: There is no significant difference in the average age between the two groups.
H1: There is a significant difference in the average age between the two groups.

Step 2: t_CAL calculation:
t-cal: 0.7546410315824557

Step 3: t_TAB value:
t-tab: (0.05 significance level,2 tailed test, 15 degrees of freedom ): 2.1314

Step 4: Decision Making
Fail to reject the null hypothesis (H0).

Step 5: Conclusion:
 There is no significant difference in the average age between the two random samples.

Step 6:
Confidence Interval: (-9.667206102073543, 4.611650546517986)

_______________________
# One sample proportion test - z-val

* **Null Hypothesis (H0):** No significant difference, gender distribution equals a certain hypothesised proportion.
* **Alternative Hypothesis (Ha):** Significant difference, gender distribution equals a certain hypothesised proportion.

In [27]:
df = pd.read_csv('data.csv')

# Set the null hypothesis proportion
p_hypothesis = p = 0.7
df = df[df["treatment"]=="Yes"]
# Count the number of males and females in the dataset
male_count = df[df['Gender'] == 'Male'].shape[0]
female_count = df[df['Gender'] == 'Female'].shape[0]
print("male_count", male_count)
print("female_count",female_count)

# Calculate the total number of observations
total_observations = df.shape[0]

# Calculate the observed proportions for males and females
p_cap = male_count / total_observations
q = 1 - p

alpha = 0.05
tail = 2

z_tab = get_Z_TAB(side=tail,significance_level=alpha)

num = abs(p_cap - p)
# Corrected calculation of the standard error
den = (p * q / total_observations)**0.5


z_cal = num/den

lb = p_cap - z_tab*den
ub = p_cap + z_tab*den

H0 = "p = "+str(p)
H1 = "p != "+str(p)

print("\nStep 1: Hypothesis statements: ")
print(f"H0: {H0}")
print(f"H1: {H1}")

print("\nStep 2: Z_CAL calculation: ")
print(f"Z-cal: {abs(z_cal)}")

print("\nStep 3: Z_TAB value: ")
print(f"Z-tab: ({alpha} significance level,{tail} tailed test ): {z_tab}")

print("\nStep 4: Decision Making")
if z_cal > z_tab:
    print(f"Reject the null hypothesis (H0). \n\nStep 5: Conclusion\n The observed proportion is significantly different from {p_hypothesis}.")
else:
    print(f"Fail to reject the null hypothesis (H0). \n\nStep 5: Conclusion\n The observed proportion is not significantly different from {p_hypothesis}.")

print(f"Step 6: \nConfidence Interval: ({lb}, {ub})")

male_count 444
female_count 169

Step 1: Hypothesis statements:
H0: p = 0.7
H1: p != 0.7

Step 2: Z_CAL calculation:
Z-cal: 1.3132468984534784

Step 3: Z_TAB value:
Z-tab: (0.05 significance level,2 tailed test ): 1.96

Step 4: Decision Making
Fail to reject the null hypothesis (H0).

Step 5: Conclusion
 The observed proportion is not significantly different from 0.7.
Step 6:
Confidence Interval: (0.6880293445650376, 0.7605840322701989)

______________________________
# Two sample proportion test

* **Analysis:** Compares proportions of 'Yes' in 'family_history' between 'Male' and 'Female' groups in a dataset.
* **Testing:** Calculates Z-score to assess the significance of the difference, using a 5% significance level (alpha).
* **Conclusion:** Determines whether to reject the null hypothesis based on Z-score compared to critical values, indicating significant or non-significant differences in proportions.

In [28]:
df = pd.read_csv('data.csv')
alpha = 0.05
# Filter the dataset for individuals undergoing treatment
df_treatment = df[df['treatment'] == 'Yes']

# Create two groups based on family history
group_A = df_treatment[df_treatment['family_history'] == 'Yes']
group_B = df_treatment[df_treatment['family_history'] == 'No']

X_A = group_A[group_A['Gender'] == 'Male'].shape[0]
X_B = group_B[group_B['Gender'] == 'Male'].shape[0]

# Calculate proportions for each group
p_A = group_A['Gender'].value_counts(normalize=True)['Male']
p_B = group_B['Gender'].value_counts(normalize=True)['Male']

# Set the null hypothesis proportion
p_hypothesis = 0.7

# Total number of observations in each group
n_A = len(group_A)
n_B = len(group_B)

p_A_cap = X_A / n_A
p_B_cap = X_B / n_B

p_bar = (X_A+X_B) / (n_A+n_B)
q_bar = 1 - p_bar

num = abs(p_A_cap - p_B_cap)
den = (p_bar * q_bar * ((1/n_A) + (1/n_B)))**0.5

z_cal = num/den
z_tab = get_Z_TAB(side=2,significance_level=alpha)

lb = num - z_tab*den
ub = num + z_tab*den

H0 = f"p_A = p_B = {p_hypothesis}"
H1 = f"Difference in proportions (p_A != p_B)"

print("\nStep 1: Hypothesis statements: ")
print(f"H0: {H0}")
print(f"H1: {H1}")

print("\nStep 2: Z_CAL calculation: ")
print(f"Z-cal: {abs(z_cal)}")

print("\nStep 3: Z_TAB value: ")
print(f"Z-tab: ({alpha} significance level, 2-tailed test): {z_tab}")

print("\nStep 4: Decision Making")
if abs(z_cal) > z_tab:
    print(f"Reject the null hypothesis (H0). \n\nStep 5: Conclusion\n The proportions are significantly different.")
else:
    print(f"Fail to reject the null hypothesis (H0). \n\nStep 5: Conclusion\n The proportions are not significantly different.")

print(f"Step 6: \nConfidence Interval: ({lb}, {ub})")

Step 1: Hypothesis statements:
H0: p_A = p_B = 0.7
H1: Difference in proportions (p_A != p_B)

Step 2: Z_CAL calculation:
Z-cal: 1.6031928754467164

Step 3: Z_TAB value:
Z-tab: (0.05 significance level, 2-tailed test): 1.96

Step 4: Decision Making
Fail to reject the null hypothesis (H0).

Step 5: Conclusion
 The proportions are not significantly different.
Step 6:
Confidence Interval: (-0.013005391814812833, 0.12987610467406427)

___

<center> ***<i> Thank You Sir </i>***</center>

In [25]:
df[df["treatment"]=="Yes"]

,Timestamp,Age,Gender,Country,family_history,treatment,no_employees,remote_work,tech_company,care_options,leave,mental_health_consequence,phys_health_consequence,mental_vs_physical,obs_consequence
0,2014-08-27 11:29:00,37,Female,United States,No,Yes,Jun-25,No,Yes,Not sure,Somewhat easy,No,No,Yes,No
3,2014-08-27 11:29:00,31,Male,United Kingdom,Yes,Yes,26-100,No,Yes,Yes,Somewhat difficult,Yes,Yes,No,Yes
6,2014-08-27 11:31:00,35,Female,United States,Yes,Yes,01-May,Yes,Yes,No,Somewhat difficult,Maybe,Maybe,Don't know,No
8,2014-08-27 11:32:00,42,Female,United States,Yes,Yes,100-500,No,Yes,Yes,Very difficult,Maybe,No,No,No
10,2014-08-27 11:32:00,31,Male,United States,No,Yes,Jun-25,Yes,Yes,No,Don't know,No,No,Don't know,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1211,2015-08-20 16:52:00,29,Male,United States,Yes,Yes,100-500,Yes,Yes,Yes,Don't know,Yes,No,No,No
1213,2015-12-09 11:17:00,26,Male,United Kingdom,No,Yes,26-100,No,Yes,No,Somewhat easy,No,No,Don't know,No
1214,2015-09-26 01:07:00,32,Male,United States,Yes,Yes,26-100,Yes,Yes,Yes,Somewhat difficult,No,No,Yes,No
1215,2015-07-11 12:36:00,34,Male,United States,Yes,Yes,More than 1000,No,Yes,Yes,Somewhat difficult,Yes,Yes,No,No
1217,2016-01-02 23:04:00,25,Male,United States,Yes,Yes,26-100,No,No,Yes,Don't know,Maybe,No,Don't know,No